<h1 style="color:#00ffff">Whale, hello there!!</h1>
<h1> Formulaire d'inscription</h1>

<form action="http://192.168.43.209:5000/resultat" method="POST">

 
                
                
                <label><b>Identifiant</b></label>
                <input type="text" placeholder="Entrer votre Identifiant" name="username" required>
              <label><b>Nom</b></label>
                <input type="text" placeholder="Entrer votre E-mail" name="nom" required>

                
                <input type="submit" id='submit' value='Enregistrer' >

              


</form>
