<h1 style="color:#00ffff"> hello there!!</h1>
<form action="http://127.0.0.1:5000/resultat" method="POST">

 
                
                
  <label><b>Identifiant</b></label>
  <input type="text" placeholder="Entrer votre Identifiant" name="prenom" required>
 <label><b>Nom</b></label>
  <input type="text" placeholder="Entrer votre E-mail" name="nom" required>

  
  <input type="submit" id='submit' value='Enregistrer' >

              


</form>

